<h1> List of tasks </h1>
<% @tasks.each do |task| %>
<ul style="list-style-position:inside; border-style: solid; border-width: 4px; border-radius: 15px; width: 300px; height: 250px; padding: 10px;" >  
         <li>Title of task:</li> 
        <%= task.title %> 
    <br><br>

        <li>Content</li>
      <%= task.content %>
     <br><br>

        <li> Complete?</li>
         <% if task.complete == true %> 
        yes
      <% else %> 
        no
        <% end %> 
      <br><br>

  <%= link_to "Edit Task", edit_task_path(task) %>
  <br><br>

  <%= link_to "Delete Task", task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete?" }%>
  <br><br>

</ul>
<br><br>
<% end %>   