<h1> List of leads </h1>
<ul>
<% @leads.each do |lead| %>
    <h4>
         <li>Name:</li> 
    </h4>
    <%= lead.name %> 
    <br><br>

    <h4>
        <li>Email:</li>
      </h4>
      <%= lead.email %>
     <br><br>

    <h4>
        <li> Phone number:</li>
        </h4>
        <%= lead.phone_number %>
      <br><br>

        <h4>
        <li> Customer? </li>
        </h4>
        <%= lead.customer%>
       <br>
<% end %>   
</ul>